body {
  font-family: "Open Sans", sans-serif;
}
.choose {
  text-decoration: underline;
}
hr {
  margin: 30px 20px;
}
.path1 {
  fill: none;
}
.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}

.main-div {
  text-align: center;
}

.line-chart {
  margin: 70px 50px;
  width: 90%;
  height: 500px;
}

#svg {
  height: 100%;
  width: 100%;
}

.select-div {
  margin: 10px;
}

.svg-label {
  display: block;
  margin: 50px;
  font-size: 20px;
  text-decoration: underline;
}
.pie-chart-div {
  display: none;
  border: 1px solid;
  margin: 50px;
  border: 1px solid #bfbfbf;
  box-shadow: 1px 1px 10px 5px #888888;
}
